<div class="row">
    <div class="col-sm-12">
        <ul class="nav menu section-admin-menu">
            <li>
                <a href="#/">
                    <h4><i class="fa fa-server"></i>&nbsp;Lista</h4>
                </a>
            </li>
            <li>
                <a href="#" ng-click="$event.preventDefault();openNewIntervalElement()">
                    <h4><i class="fa fa-plus"></i>&nbsp;Dodaj interwał</h4>
                </a>
            </li>
        </ul>

    </div>
</div>
<hr>
<div class="row" ng-init="initData()">
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div show-search-criteria></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div
                class="row"
                ng-repeat="el in elements"
        >

            <div class="col-xs-12 col-sm-12 col-md-5">
                <h4>[[ el.name ]]</h4>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5">

                <h4>
                    <span class="label label-info">[[ el.begin ]]</span>
                    <span class="label label-warning">[[ el.end ]]</span>
                </h4>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-2">
                <div delete-element id="[[ el.id ]]"></div>
            </div>


        </div>
    </div>
</div>

<div show-pagination-route></div>

<div create-new-interval></div>