<form ng-submit="searchSubmit()">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input
                type="text"
                class="form-control"
                placeholder="Wpisz frazę"
                aria-describedby="basic-addon1"
                ng-model="frase"
        >
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="input-group">
        <label class="col-xs-12 col-sm-12 col-md-6">
            Od
            <input type="date" id="dateStart" ng-model="date.start">
        </label>
    </div>
    <hr>
    <div class="input-group">
        <label class="col-xs-12 col-sm-12 col-md-6">
            Do
            <input type="date" id="dateEnd" ng-model="date.end">
        </label>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary btn-full-length">Szukaj</button>
</form>