@import url("xeditable.css");
/*
.editable-wrap {
    display:block;
    width: 100%;
    padding-right:10px;
    .editable-controls {
        > input,
        > select,
        > textarea {
            display: inline-block;
            width: 100%;
        }
    }
}

 .editable-container.editable-inline, .editableform > .control-group, .editable-input, .editableform .form-control {
            width:100%;
        }
*/
		
		