<div class="row row-fragment" ng-repeat="f in fragments">



        <!--<div class="col-xs-12 col-sm-12 col-md-2 arrow-col">-->
            <!--<a href="#"-->
               <!--ng-if="auth=='true'"-->
               <!--ng-click="sendPostFragment(record.type+'/'+record.rid+'-'+record.alias+'/'+f.start,frase);$event.preventDefault()">-->
                <!--<img src="/images/fragment_arrow.jpg" class="img-responsive">-->
            <!--</a>-->
            <!--<a-->
                    <!--href="#"-->
                    <!--ng-if="auth=='false'"-->
                    <!--ng-click="sendPostAuthIntentFragment(record.rid, record.alias, f.start, record.type, frase);$event.preventDefault()"-->
            <!--&gt;-->
                <!--<img src="/images/fragment_arrow.jpg" class="img-responsive">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-sm-12 col-md-2 time-col">-->
            <!--<a href="#"-->
               <!--ng-if="auth=='true'"-->
               <!--ng-click="sendPostFragment(record.type+'/'+record.rid+'-'+record.alias+'/'+f.start,frase);$event.preventDefault()">-->
                <!--[[ f.start | timeToMinute ]]-->
            <!--</a>-->

            <!--<a-->
                    <!--href="#"-->
                    <!--ng-if="auth=='false'"-->
                    <!--ng-click="sendPostAuthIntentFragment(record.rid, record.alias, f.start, record.type, frase);$event.preventDefault()"-->
            <!--&gt;-->
                <!--[[ f.start | timeToMinute ]]-->
            <!--</a>-->
        <!--</div>-->


    <div class="col-xs-12 col-sm-12 col-md-2 arrow-col">
        <a href="[[ record.type ]]/[[record.rid ]]-[[record.alias ]]/[[ f.start ]]?fraza=[[ frase ]]&stype=[[ stype ]]"
           ng-if="auth=='true'"
           >
            <img src="/images/fragment_arrow.jpg" class="img-responsive">
        </a>
        <a
                href="demo/[[ record.type ]]/[[record.rid ]]-[[ record.alias ]]/[[ f.start ]]?fraza=[[ frase ]]&stype=[[ stype ]]"
                ng-if="auth=='false'"
        >
            <img src="/images/fragment_arrow.jpg" class="img-responsive">
        </a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 time-col">
        <a href="[[ record.type ]]/[[record.rid ]]-[[record.alias ]]/[[ f.start ]]?fraza=[[ frase ]]&stype=[[ stype ]]"
           ng-if="auth=='true'"
           >
            [[ f.start | timeToMinute ]]
        </a>

        <a
                href="demo/[[ record.type ]]/[[record.rid ]]-[[record.alias ]]/[[ f.start ]]?fraza=[[ frase ]]&stype=[[ stype ]]"
                ng-if="auth=='false'"
        >
            [[ f.start | timeToMinute ]]
        </a>
    </div>



    <div class="col-xs-12 col-sm-12 col-md-8 fragment-col" ng-if="stype=='regex'">
            <div ng-bind-html="f.content | makeFragmentDesc: frase"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 fragment-col" ng-if="stype=='perfect'">
        <div ng-bind-html="f.content | makeFragmentDescPerfect: frase:f.weight"></div>
    </div>



</div>