<div class="row" ng-init="initData()">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
            <div
                    class="col-xs-12 col-sm-12 col-md-6"
                    ng-if="record.rdata!=null"
            >
                <div class="page-header">
                    <h2>
                        [[ record.rdata.title ]]
                    </h2>
                </div>

            </div>
            <!--<div-->
                    <!--class="col-xs-12 col-sm-12 col-md-6"-->
                    <!--ng-if="record.rdata!=null"-->
            <!--&gt;-->

                <!--<div class="page-header">-->
                    <!--<h2>-->
                        <!--Tagowanie rekordu-->
                    <!--</h2>-->
                <!--</div>-->


                <!--<tags-input-->
                        <!--ng-model="record.tags"-->
                        <!--display-property="name"-->
                        <!--placeholder="Dodaj Tag"-->
                        <!--on-tag-added="changeTagsRecordCollection()"-->
                        <!--on-tag-removed="changeTagsRecordCollection()"-->
                <!--&gt;-->
                    <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                <!--</tags-input>-->


                <!--<div class="tags-cloud-view">-->

                    <!--<h3 class="tag-label" ng-repeat="tag in tagscloud">-->
                        <!--<span class="label label-info">-->
                            <!--[[ tag.name ]]-->
                        <!--</span>-->
                    <!--</h3>-->

                <!--</div>-->


            <!--</div>-->
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">

        <h2>
            Fragmenty
        </h2>

        <!--<div class="row search-row">-->
            <!--<div class="col-xs-12 col-sm-12">-->
                <!--<div fragment-filter></div>-->
            <!--</div>-->
        <!--</div>-->

        <hr>

        <div class="fragments-list-frame">

            <div class="row row-fragment" ng-repeat="f in record.fragments" ng-init="fullfragment[$index].record=r">

                <div class="col-div-neutral" id="fragment[[ f.id ]]">

                    <div class="col-xs-12 col-sm-12 col-md-1">
                        <h4 class="text-center">[[ $index+1 ]]</h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1">
                        <h4>
                            <span class="label label-warning">[[ f.start | secondsToTime ]]</span>
                        </h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7">

                        <div class="fragment-content-look">
                            <div ng-bind-html="[[ f.content ]]"></div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">

                        <a href="#" class="btn btn-primary" ng-click="$event.preventDefault();$parent.signify_fragment=f">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Oznacz fragment interwałem czasowym
                        </a>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12">


                </div>

            </div>

        </div>

    </div>
</div>

<button class="btn btn-danger btn-lg hide-fragment-link" ng-if="signify_fragment!=null" ng-click="$parent.signify_fragment=null">
    <i class="fa fa-times" aria-hidden="true"></i>
</button>
<div fragment-link-time="" signify-fragment="[[ signify_fragment ]]"></div>