<form ng-submit="searchSubmit()">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input
                type="text"
                class="form-control"
                placeholder="Wpisz frazę"
                aria-describedby="basic-addon1"
                ng-model="frase"
        >
    </div>
    <div class="checkbox" style="display: none">
        <label class="col-xs-12 col-sm-12 col-md-6">
            <input type="checkbox" ng-model="searchcolumns.name"> Imię
        </label>
        <label class="col-xs-12 col-sm-12 col-md-6">
            <input type="checkbox" ng-model="searchcolumns.surname"> Nazwisko
        </label>
        <label class="col-xs-12 col-sm-12 col-md-6">
            <input type="checkbox" ng-model="searchcolumns.biography"> biografia
        </label>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="form-group">
        <label for="statusID">Status</label>
        <select
                name="status"
                id="statusID"
                class="form-control"
                ng-options="option.name for option in statuses track by option.name"
                ng-model="filter.status"
        >

        </select>
    </div>

    <button type="submit" class="btn btn-primary btn-full-length">Szukaj</button>
</form>